* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.main {
    display: flex;
    align-items: center;
    height: 66vh;
    background-image: url('./imgs/skupka\ main\ bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    box-shadow: 1px 2px 16px 3px #363A4514;
    margin-bottom: 80px;
}


.main__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #00C65E;
    margin-bottom: 47px;
    padding-top: 40px;
    width: 655px;
}

.main__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #363A45;
    margin-bottom: 101px;
    width: 520px;
}

.main__link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #fff;
    background-color: #00C65E;
    padding: 12px 27px;
    border-radius: 10px;
    margin-bottom: 90px;
}


.benefits__wrapper {
    display: flex;
    gap: 46px;
    margin-bottom: 160px;
}

.benefits__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #363A45;
    margin-bottom: 15px;
}

.benefits__card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.benefits__card-num {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.5px;
    color: #00C65E;
}

.benefits__card-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #363A45;
}

.services {
    margin-bottom: 80px;
    padding: 50px;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-bottom: 80px;
}

.services__card {
    display: block;
    max-width: 284px;
    text-align: center;
    box-shadow: 1px 2px 16px 3px #363A4514;
    border-radius: 10px;
    padding: 5px 22px 36px 22px;
}

.services__card-top {
    height: 100%;
    margin-top: -80px;
}

.services__card-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #363A45;
}

.services__title {
    width: 360px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #00C65E;
}

.services__title span {
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.services__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__inner h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 20px;
}

.services__link {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #fff;
    background-color: #00C65E;
    padding: 12px 56px;
    border-radius: 10px;
}

.services__inner p {
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    color: #363A45;
    text-align: center;
}

.buy {
    text-align: center;
}

.buy__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.buy__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #363A45;
    text-align: center;
    margin-bottom: 30px;
}

.buy__card {
    font-weight: 700;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    padding: 15px 12px 10px 12px;
    box-shadow: 1px 2px 16px 3px #363A4514;
    margin-bottom: 15px;
    border-radius: 10px;
}

.buy__link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #363A45;
    text-align: center;
    margin-bottom: 80px;
}

.buy__inner {
    display: flex;
    margin-bottom: 80px;
}

.buy__inner div {
    text-align: center;
}

.buy__inner h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #00C65E;
    margin-bottom: 50px;
}

.buy__inner a {
    color: #fff;
    padding: 12px 91px;
    background-color: #00C65E;
    border-radius: 10px;
}

.about {
    text-align: center;
}

.about__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 30px;
}

.about__wrapper {
    display: flex;
    gap: 70px;
    margin-bottom: 80px;
}

.about__card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #363A45;
    margin: 20px 0;
}

.about__card-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    color: #363A45;
}

.map {
    text-align: center;
    margin-bottom: 80px;
}

.map__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 15px;
}

.map__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 40px;
}

.contact {
    text-align: center;
    box-shadow: 1px 2px 16px 3px #363A4514;
    background-color: #F7F7F7;
    margin-bottom: 80px;
    padding: 40px 0;
}

.contact__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 10px;
}

.contact__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    color: #363A45;
    margin-bottom: 15px;
}

.contact__input {
    width: 300px;
    background-color: #fff;
    border: 1px solid #DADCDC;
    border-radius: 10px;
    padding: 12px 16px;
    margin-right: 50px;
}

.contact__btn {
    color: #fff;
    background-color: #00C65E;
    padding: 12px 56px;
    border-radius: 10px;
    border: 1px solid #00C65E;
}

.contact__text {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0px;
    color: #363A45;
}

.buying-items {
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #818187;
    margin-bottom: 80px;
}